// ============================
// PALETA DE COLORES
// ============================
$color-fondo: #f2e6df;
$color-titulo: #a69fce;
$color-subtitulo: #89b5e0;
$color-texto: #656ea0;
$color-hero: #f7adba;

$color-fondo-rosa: #f2e6dfae;

// ============================
// TIPOGRAFÍAS
// ============================
$font-heading: 'Playfair Display', serif;
$font-body: 'Poppins', sans-serif;

// ============================
// ESPACIADOS Y BORDES
// ============================
$radio-borde: 10px;
$radio-boton: 30px;
$sombra-hover: 0 6px 16px rgba($color-texto, 0.5);
$borde-card: 2px solid $color-subtitulo;